div {text-align: right;margin-right:10px}

a{padding:10px}
.cajera{
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow:#fff;
    border-radius: 24px;
    margin: 0px auto;
    margin-top: 300px;
    width: 584px;
    padding-left: 15px;
    font-size: 22px ;
}
form{text-align: center}
.boton{    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;}
